.infoPanel {
    width: 25%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px; /* Round corners */
    border: 1px solid #ddd; /* Border around the entire panel */
    margin: 5px;
}

/* Paragraph styles */
.paragraph {
    color: #717171;
    margin-bottom: 1em; /* Optional */
    padding-bottom: 1em; /* Optional */
    border-bottom: 1px solid #ddd; /* Border under each paragraph */
}

.paragraph:last-child {
    border-bottom: none;
}

/* Mobile-specific layout adjustments */
@media (max-width: 480px) {
    .infoPanel {
        margin-bottom: 80px;
        width: 95%;

    }
    .paragraph:last-child {
        border-bottom: none;
    }
}