.navbar {
    max-width: 221px;
    background: linear-gradient(180deg, #17402a 9%, #3ca66d 100%);
    padding: 20px;
    overflow-x: hidden;
}


.userLogoWrapper {
    margin-top: -65px;
    margin-left: 125px;
}


.navList {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 70px;
}

.navItem {
    margin-bottom: 1em;
    cursor: pointer;
    color: #fff;
    padding: 0.8em 1.5em;
    font-size: 20px;
    transition: all 0.3s ease;
    text-align: center;
    font-weight: 600;
    position: relative;
    z-index: 1;
}

.navItem::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: -30%;
    bottom: 0;
    background-color: #fff;
    border-radius: 2em;
    opacity: 0;
    /* Initially hidden */
    z-index: -1;
}

/* Hover styles */
.navItem:hover,
.navItem:focus {
    color: #17402a;
    /* Change text color */
    transform: scale(1.05);
    /* Scale effect */
}

.navItem:hover::before,
.navItem:focus::before {
    opacity: 1;
    /* Show background on focus */
}

.activeNavItem {
    color: #17402a;
    position: relative;
}

.activeNavItem::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: -30%;
    bottom: 0;
    background-color: #fff;
    border-radius: 2em;
    opacity: 1;
    z-index: -1;
}

@media (max-width: 480px) {
    .navbar {
        padding: 3px;
    }

    .logo {
        width: 50px;
        /* Even smaller width */
        height: 50px;
        /* Even smaller height */
    }

    .userLogoWrapper {
        margin-top: -48px;
        margin-left: 68px;
    }

    .userLogo {
        width: 35px;
        /* Even smaller width */
        height: 37px;
        /* Even smaller height */
    }

    .navItem {
        font-size: 15px;
        padding: 0.5em 0.8em;
    }
}